*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background:black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
}


.hud{
  width: 900px;
  margin-top: 20px;
}


h1{
  text-align: center;
  margin-bottom: 15px;
  color: cyan;
}


.placar{
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}


.player-score{
  font-size: 20px;
  font-weight: bold;
}


.azul{
    background-image:url("img/p1.png");
}

.vermelho{
    background-image:url("img/p2.png");
}

.verde{
    background-image:url("img/p3.png");
}

.amarelo{
    background-image:url("img/p4.png");
}


#game{
  width: 1200px;
  height: 600px;

  background:
radial-gradient(circle at center,
#252525,
#101010);

  border: 4px solid white;

  position: relative;

  overflow: hidden;
}



/* Jogadores */

.player{
    width:70px;
    height:70px;
    position:absolute;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}


/* Posições Iniciais */

#player1{
  
  left: 50px;
  top: 50px;
}

#player2{
  
  left: 1050px;
  top: 50px;
}

#player3{
  
  left: 50px;
  top: 500px;
}

#player4{
  
  left: 1050px;
  top: 500px;
}



/* BOLINHAS */

.dot{
    width:14px;
    height:14px;

    position:absolute;

    background:white;
    border-radius:50%;

    z-index:50;
}





@keyframes pulse{

  0%{
    transform: scale(1);
  }

  50%{
    transform: scale(1.2);
  }

  100%{
    transform: scale(1);
  }

}

/* PAREDES */

.wall{
  position: absolute;

  background: linear-gradient(
    180deg,
    #1e40ff,
    #001aff
  );

  border: 2px solid #4da6ff;

  box-shadow:
    0 0 8px rgba(0, 89, 255, 0.7);

  border-radius: 4px;
}


/* Horizontais */

.horizontal{
  width: 250px;
  height: 20px;
}

.vertical{
  width: 20px;
  height: 250px;
}

/* KILL MODE */

.kill-mode{

  filter:
    drop-shadow(0 0 5px purple)
    drop-shadow(0 0 15px violet)
    drop-shadow(0 0 30px purple);

}


/* PLAYER CONGELADO */

.frozen{

  opacity: 0.5;

  filter: grayscale(100%);
}

/* POWER UPS */

.speed-power{

    position:absolute;

    width:30px;
    height:30px;

    border-radius:50%;

    background:#00ff88;

    border:2px solid #7dffbf;

    box-shadow:
    0 0 10px #00ff88,
    0 0 25px #00ff88,
    0 0 50px #00ff88;

    animation:pulse 0.8s infinite;

    z-index:100;
}


/* POWER ROUBAR */

.steal-power{

    position:absolute;

    width:30px;
    height:30px;

    border-radius:50%;

    background:orange;

    border:2px solid yellow;

    box-shadow:
    0 0 10px yellow,
    0 0 25px orange,
    0 0 50px gold;

    animation:pulse 0.8s infinite;

    z-index:100;
}

/* SPEED MODE */

.speed-mode{

    filter:
    drop-shadow(0 0 5px #00ff88)
    drop-shadow(0 0 15px #00ff88)
    drop-shadow(0 0 30px #00ff88);

}

.steal-mode{

    filter:
    drop-shadow(0 0 5px yellow)
    drop-shadow(0 0 15px gold)
    drop-shadow(0 0 30px orange);

}


.kill-power{

    position:absolute;

    width:30px;
    height:30px;

    border-radius:50%;

    background:purple;

    border:2px solid violet;

    box-shadow:
    0 0 10px violet,
    0 0 25px purple,
    0 0 50px violet;

    animation:pulse 0.8s infinite;

    z-index:100;
}

#ranking{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,.92);

    display:none;

    justify-content:center;
    align-items:center;

    z-index:9999;
}

.ranking-box{

    width:600px;

    background:#111;

    border:3px solid gold;

    border-radius:20px;

    padding:30px;

    box-shadow:
    0 0 20px gold,
    0 0 50px gold;

    color:white;
}

.ranking-box h1{

    text-align:center;

    margin-bottom:25px;

    color:gold;
}

.rank-item{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#1a1a1a;

    margin:12px 0;

    padding:18px;

    border-radius:12px;

    font-size:24px;
}


.player-score{
    display:flex;
    align-items:center;
    justify-content:space-between;

    min-width:auto;

    padding:10px 15px;

    background:#111;

    border-radius:12px;

    font-size:22px;
    font-weight:bold;
}

.player-info{
    display:flex;
    align-items:center;
    gap:10px;
}

.cor{
    width:18px;
    height:18px;

    border-radius:50%;
}

.azul-cor{
    background:#00aaff;

    box-shadow:
    0 0 5px #00aaff,
    0 0 15px #00aaff;
}

.vermelho-cor{
    background:#ff3333;

    box-shadow:
    0 0 5px #ff3333,
    0 0 15px #ff3333;
}

.verde-cor{
    background:#00cc44;

    box-shadow:
    0 0 5px #00cc44,
    0 0 15px #00cc44;
}

.amarelo-cor{
    background:#ffd700;

    box-shadow:
    0 0 5px #ffd700,
    0 0 15px #ffd700;
}