*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background:black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
}


.hud{
  width: 900px;
  margin-top: 20px;
}


h1{
  text-align: center;
  margin-bottom: 15px;
  color: cyan;
}


.placar{
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}


.player-score{
  font-size: 20px;
  font-weight: bold;
}


.azul{
    background-image:url("img/p1.png");
}

.vermelho{
    background-image:url("img/p2.png");
}

.verde{
    background-image:url("img/p3.png");
}

.amarelo{
    background-image:url("img/p4.png");
}


#game{
  width: 900px;
  height: 600px;

  background: #1e1e1e;

  border: 4px solid white;

  position: relative;

  overflow: hidden;
}



/* Jogadores */

.player{
    width:45px;
    height:45px;
    position:absolute;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}


/* Posições Iniciais */

#player1{
  
  left: 50px;
  top: 50px;
}

#player2{
  
  left: 800px;
  top: 50px;
}

#player3{
  
  left: 50px;
  top: 500px;
}

#player4{
  
  left: 800px;
  top: 500px;
}



/* BOLINHAS */

.dot{
  width: 12px;
  height: 12px;

  background: white;

  border-radius: 50%;

  position: absolute;
}



.speed-power{

  width: 25px;
  height: 25px;

  border-radius: 50%;

  background: cyan;

  position: absolute;

  box-shadow:
    0 0 10px cyan,
    0 0 20px cyan,
    0 0 40px cyan;

  animation: pulse 1s infinite;
}


@keyframes pulse{

  0%{
    transform: scale(1);
  }

  50%{
    transform: scale(1.2);
  }

  100%{
    transform: scale(1);
  }

}

/* PAREDES */

.wall{
  position: absolute;

  background: linear-gradient(
    180deg,
    #1e40ff,
    #001aff
  );

  border: 2px solid #4da6ff;

  box-shadow:
    0 0 8px rgba(0, 89, 255, 0.7);

  border-radius: 4px;
}


/* Horizontais */

.horizontal{
  width: 140px;
  height: 18px;
}

.vertical{
  width: 18px;
  height: 120px;
}

/* KILL MODE */

.kill-mode{

  filter:
    drop-shadow(0 0 5px purple)
    drop-shadow(0 0 15px violet)
    drop-shadow(0 0 30px purple);

}


/* PLAYER CONGELADO */

.frozen{

  opacity: 0.5;

  filter: grayscale(100%);
}